* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

#paintCanvas {
    border: 1px solid #ccc;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #4CAF50;
    width: 220px;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#controls h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

button, input[type="range"], input[type="color"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="range"]:hover, input[type="color"]:hover {
    background-color: #d4d4d4;
}

button:active {
    transform: scale(0.98);
}

button#clearBtn {
    background-color: #f44336;
    color: #fff;
}

button#clearBtn:hover {
    background-color: #ff1f1f;
}

button#eraserBtn {
    background-color: #ffeb3b;
}

button#eraserBtn:hover {
    background-color: #ffdd22;
}

#controls div {
    margin-bottom: 20px;
}

#brushSize {
    width: 100%;
}

#footer {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    background-color: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #444;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}
